<div class="row">
  <div class="col-md-12">
      <div class="titre">
          <h2>Aide en ligne et accès au support</h2>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 animated fadeIn">
    <div class="container-blanc">
        <div class="title">
          <p>Documentation en ligne</p>
          <hr>
        </div>
        <div class="content">
          <p class="text-section-aide">
            Une documentation sous forme de Wiki est en ligne à l'adresse <a href="http://llb.ac-corse.fr/mw/" target="_blank">http://llb.ac-corse.fr/mw/</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
  <div class="col-md-12 animated fadeIn">
      <div class="container">
        <div class="title">
          <p>En cas de problème avec e-comBox</p>
          <hr>
        </div>
        <div class="content text-section-aide">
          <!--<p class="txt-gras"> Avant de contacter le support : </p>-->
          <span class="txt-gras"> Avant de contacter le support : </span>
            <ul>
              <li>Assurez-vous d'avoir bien déroulé la <a href="http://llb.ac-corse.fr/mw/index.php/Trousse_de_premiers_secours" target="_blank">check-list</a>.</li>
              <li>Relisez rapidement la <a href="http://llb.ac-corse.fr/mw/index.php/FAQ" target="_blank">FAQ</a>, la réponse à votre question y est peut-être .</li>
            </ul>
          <br/>
          <p class="txt-gras">
            Si ces vérifications ne permettent pas la résolution de votre problème, vous pouvez déclarer un incident sur la plateforme en ligne accessible à l'adresse : 
            <a href="http://llb.ac-corse.fr/ecomboxsupport/" target="_blank">http://llb.ac-corse.fr/ecomboxsupport/</a>
          </p>
          <p>
            L'accès à cette plateforme nécessite un compte que vous pouvez créer facilement et rapidement
            (<a href="http://llb.ac-corse.fr/mw/index.php/Contactez_le_support" target="_blank">mode opératoire</a>). 
          </p>
        </div>
      </div>
  </div>
</div>
