.titre{
	border-bottom-style: groove;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.container{
    background-color: #e3e9ee;
    border-radius: 3px;
    text-align: justify;
    border: 1px solid #c3c8cc;
    padding: 20px;
    box-shadow: 2px 2px 2.1px #c1c1c1;
    margin-top: 20px;
}

.container-blanc{
    background-color: white;
    border-radius: 3px;
    text-align: justify;
    border: 1px solid #c3c8cc;
    padding: 20px;
    box-shadow: 2px 2px 2.1px #c1c1c1;
    margin-top: 20px;
}

.title{
    color: #4b4b4b;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
}

.title-section-aide{
    color: #4b4b4b;
    font-size: 16px;
}

.text-section-aide{
    color: #4b4b4b;
    font-size: 16px;
}

.txt-gras{
    font-weight: bold;
}





