<!-- <div class="row">
        <div class="col-md-12">
            <h2>e-comBox version du 25/10/19 à 16h</h2>
        </div>
    </div> -->
<div class="row">
    <div class="col-xxl-6">

        <ngx-container-info></ngx-container-info>

        <nb-card class="animated fadeIn anim-section-sites">
            <nb-card-header class="head-card-container">Tous les sites<hr class="hr-title"></nb-card-header>
            <nb-card-body>
                <ngx-memory></ngx-memory>
            </nb-card-body>
        </nb-card>

    </div>
    <div class="col-xxl-6">
        <ngx-container-section></ngx-container-section>
    </div>
</div>