.centrer {
	text-align: center;
}

.marge-gauche{
	margin-left: 5px;
}

.marge-droite{
	margin-left: 5px;
}

.titre{
	border-bottom-style: groove;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.align-droite{
	text-align: right;
}